In [1]:
import numpy as np
import pandas as pd
low = pd.DataFrame(pd.read_csv('low.csv'))
mid = pd.DataFrame(pd.read_csv('midium.csv'))
high = pd.DataFrame(pd.read_csv('high.csv'))

In [2]:
low['par_group'] = 'C'
mid['par_group'] = 'B'
high['par_group'] = 'A'
all_data = low.append(mid)
all_data = all_data.append(high)

In [3]:
all_data.sort_values(["Household_Income"], inplace = True)
all_data = all_data.reset_index()

In [4]:
all_data = all_data.drop(all_data.index[1216:])

In [5]:
all_data['income_group'] = 1
all_data.loc[0:405,'income_group'] = 'C'
all_data.loc[405:810,'income_group'] = 'B'
all_data.loc[810:,'income_group'] = 'A'

In [6]:
cn=all_data.groupby(by=['par_group','income_group'])
cn.size()
newcn=cn.size()
newcn.reset_index(name='times')

  par_group income_group  times
0         A            A    252
1         A            B    111
2         A            C     42
3         B            A    118
4         B            B    181
5         B            C    107
6         C            A     36
7         C            B    113
8         C            C    256

In [17]:
import plotly as pt
import plotly.graph_objs as go
 
data = [go.Bar(
            x=['A_A', 'A_B', 'A_C','B_A','B_B','B_C','C_A','C_B','C_C'],
            y=[252,111,42,118,181,107,36,113,256]
    )]

layout = go.Layout(title='Parent vs. Household Income_Baltimore',
                   xaxis={'title':'Parent_Household Income Group'},
                   yaxis={'title':'number'}
                  )

fig = go.Figure(data=data, layout=layout)

In [20]:
pt.offline.plot(fig, filename='P1_Baltimore.html')

'P1_Baltimore.html'